@model CloudInventoryPro.Models.Categoria

@{
    ViewData["Title"] = "Editar Categoría";
}

<h1 class="mb-4">Editar Categoría</h1>

<form asp-action="Edit">

    <input type="hidden" asp-for="IdCategoria" />

    <div class="mb-3">

        <label class="form-label">Nombre</label>

        <input asp-for="Nombre" class="form-control" />
    </div>

    <div class="form-check mb-3">

        <input asp-for="Estado" class="form-check-input" />

        <label class="form-check-label">
            Activo
        </label>
    </div>

    <button type="submit" class="btn btn-warning">
        Actualizar
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Volver
    </a>

</form>